<div >
  <nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand">UNICOM TIC</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
    <div class="d-flex">
      <div>
        <div class=" text-white bg-dark" style="width: 280px; height: 900px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Sidebar</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white" href="userList">
                <svg class="bi me-2" width="16" height="16"></svg>
                User
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white" href="/" >
                <svg class="bi me-2" width="16" height="16"></svg>
             Task
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-5" style="width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </div>
   
  
  </div>
   

 
    





            
              

